/* CSS: Mengatur posisi dan tampilan button */
#playStopButton {
  /* Posisi di tengah layar secara vertikal dan horizontal */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Tampilan button */
  background-color: #0b0c10;
  border: none;
  padding: 20px;
  border-radius: 50%;
  color: #66fcf1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#playStopButton:hover {
  background-color: #1f2833;
}

/* Mengatur ukuran icon */
.fas {
  font-size: 40px;
}
