body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #0f0c29, #302b63, #24243e);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Menentukan lebar maksimal container untuk memastikan padding pada layar kecil */
    max-width: 600px; /* Menentukan lebar maksimal container agar tidak terlalu lebar pada layar besar */
    color: #fff; /* Mengubah warna teks menjadi putih untuk kontras yang lebih baik */
}

h1 {
    text-align: center; /* Pastikan judul berada di tengah */
    margin-bottom: 20px;
}

#controls {
    width: 100%; /* Menggunakan lebar penuh dari container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#recordButton, .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px; /* Memberi sedikit ruang antara tombol jika ada lebih dari satu */
    width: auto; /* Menyesuaikan lebar tombol berdasarkan kontennya */
    min-width: 120px; /* Menentukan lebar minimal untuk tombol */
}

/* Gaya button */
.btn {
    background-color: DodgerBlue; /* Warna latar belakang biru */
    border: none; /* Hapus border */
    color: white; /* Teks putih */
    font-size: 16px; /* Ukuran font */
    cursor: pointer; /* Kursor pointer saat hover */
}

/* Latar belakang lebih gelap saat hover */
.btn:hover {
    background-color: RoyalBlue;
}

/* Gaya icon stop */
.fa-stop {
    color: red; /* Warna merah */
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px; /* Mengecilkan ukuran font pada layar kecil */
    }
    #recordButton, .btn {
        padding: 8px 16px; /* Menyesuaikan padding pada layar kecil */
        font-size: 14px; /* Menyesuaikan ukuran font pada layar kecil */
    }
}
